.poem{
    display: flex;
    height: 400px;
    margin: auto;
    
}
    .poem__wrapper{
      display: flex;
      justify-content: center;
        
    }
.poem2__text{
    margin-left: 72px;
    margin-bottom: 155px;
}
.poem__img{
    position: absolute;
    top: 70px;
    left: 560px;
}